<!doctype html>
<html class="no-js" lang="en-us">
<head>
    <!-- META DATA -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--[if IE]><meta http-equiv="cleartype" content="on" /><![endif]-->
    <!-- SEO -->
    <title>CLIENT.Project</title>
    <!-- STYLESHEETS -->
    <link rel="stylesheet" media="screen, projection" href="assets/styles/styles.css" />
    <link rel="stylesheet" media="screen, projection" href="assets/lib/bootstrap-css-only/css/bootstrap.css" />
    <link rel="stylesheet" media="screen, projection" href="assets/lib/bootstrap-css-only/css/bootstrap-theme.css" />
</head>
<body>

<div class="site">