/* ---------------------------------------------------------------------
Headings
------------------------------------------------------------------------ */
.hdg {
    font-weight:bold;
    font-size: $FONT_SIZE * 1.7;
    margin-bottom: 20px;
}

.hdg_1 {
    font-size: $FONT_SIZE * 1.2;
}